body{
	font-family: "微软雅黑",'Helvetica Neue', Helvetica, Arial, sans-serif,"黑体";
	background: url(../img/background.jpg) no-repeat top center fixed;
	background-color: #78B7D8;
}

.page-container{
    padding-top: 100px;
	padding-left: 150px;
	padding-right: 130px;
	/*overflow: hidden;*/
}

.header-controller {
	float: right;
}

.header-controller ul {
	float: right;
	margin-bottom: 5px;
}

th{
	background: #FFF;
}

.thWhite th{
	background: #FFF;
}

/*main-content*/
.main-content{	
	overflow: hidden;
	width: 100%;	
	min-width: 780px;
	max-width: 1450px;
	background: rgba(255, 255, 255,0.50);
	border-radius: 8px;
	box-shadow:0 0 10px #444;
	padding-bottom: 30px;

}

.nav-content hr {
	clear:both;
	margin-top: 3px;
}

.content-grid{
	margin: 25px 25px;
	width: 95%;
	clear:both;
}

.content-grid-30{
	float: left;
	width: 30%;
}

.content-grid-40{
	float: left;
	width: 40%;
}

.content-grid-50{
	float: left;
	width: 45%;
}

.content-grid-60{
	float: left;
	width: 57%;
	height: 100%;
}

.content-grid-70{
	float: left;
	width: 65%;
}

.content-grid-switch{	
	float: right;
	width:240px;
	margin-right:35px;	
}
.offset10 {
	margin-left: 10px;
}

.offset20 {
	margin-left: 20px;
}

.offset30 {
	margin-left: 30px;
}

.offset40 {
	margin-left: 40px;
}


.main-chart{
	margin-left: none;
	margin-right: none;
}

#main-chart-canvas > div>div{
	box-shadow:3px 3px 15px #555;
	height: 400px;
	max-width: 100%;
}

#slave-chart-canvas{
	width: 100%;
	height: 400px;
}

.slave-chart-controller{
	margin: 15px 0;
	text-align: center;
}

.content-overall-controller li{
	float: right;
}

.breadcrumb .non-active a{
	cursor: default;
	color: #777;
	font-weight: bold;
}

.breadcrumb .non-active a:hover{
	text-decoration: none;
}


.update-time
{
	font-size: 14px;		
	margin-top: 15px;
	margin-right: 20px;

	float: right;
}

.summary-table table{
	margin-left: auto;
	margin-right: auto;
}

.summary-table td{

	width: 220px;

	height:85px;	
	padding: 10px;
	border-right: solid 1px white;

	color: #eeeeee;	
}

.summary-table td.last {
	border-right: none;

}

.summary-table-master td{
	background-color: rgb(46, 100, 158);
	box-shadow: 7px 6px 6px#777;
}

.summary-table-slave td{


	background-color:#CBE2FF;
	height: 80px;
	color: black;
	box-shadow: 7px 6px 6px#777;
	

}

.summary-table-slave td.offset{
	background-color: transparent;
	width: 20px;
	padding: 0px;
	border-right: none;
	box-shadow: none;
}

.summary-table-slave td.first ,.summary-table-slave td.last {
	width: 180px;
	
}

.summary-table-big-num-name {
	display: block;	
}
#Last_Top_Building{
	font-size: 26px;
}
#Top_Building{
	font-size: 26px;
}
.summary-table-big-num {
	transition: opacity 0.5s;
	text-align: center;
	font-size: 32px;
	font-family: "微软雅黑",'Helvetica Neue', Helvetica, Arial, sans-serif,"黑体";
	display: block;	
	margin-top: 10px;
}

.summary-table-slave .first .summary-table-big-num{
	margin-left: 35px;
}

.summary-table-master .summary-table-big-num{
	color: #eeeeee; /*#FF7400;*/
}


.summary-table-detail thead {
	background-color: #DDD;
}
/*main-content end*/

/*detail page*/

#slave-chart-canvas-detail {	
	height: 312px;
	width: 44%;
	margin-left: 1%;
	float:left;
}

.detail-table {

}
.detail-table h4{
	margin-bottom: 30px;
}
.detail-table table{	
	background: rgba(255,255,255,0.8);	
	border-radius: 10px;
	width: 55%;
	margin: 0 auto;
	float: left;
}
.detail-table td{
	text-align: center;
}

.detail-table .time{
	font-size: 12px;
	color: #AAA;
	padding-top: 30px;
}

.detail-table .indicator{
	font-size: 16px;
	color: #000;
	padding-top: 30px;
}

.detail-table .hr-line{
	border-top:1px solid #000;
	height:2px;
	padding-bottom: 11px;
}

.detail-table .number{
	font-size: 22px;
	height: 85px;
	color:#FF7400;	
	margin-bottom: 20px;
}
.detail-table .hr .number
{
	border-bottom:1px solid #000;
}
.detail-table .rowname{
	font-size: 16px;
	color:#000000;
}


/*detail end*/
.table-condensed
{
  
  border: 5px solid #fff;
  box-shadow:3px 3px 15px #444;
  background: rgb(255,255,255);   
}
/*map page*/
#map-canvas {
	height: 600px;
	width: 95%;
	margin: auto;
	/*border: 2px solid #222;
	box-shadow: 5px 5px 10px #EEE,-5px -5px 10px #EEE;*/
}

#map-controller {
	/*background: #CCC;*/
}

#map-controller select{
	margin-bottom: 3px;
}

#map-timeline {
	width: 590px;
	background: #EEE;
	border: 1px solid #CCC;
	padding: 10px 10px 0px;
}

/*mapPage end*/

.data-overview {
	width: 100%;
	text-align: center;
}

.data-overview td {
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

.data-overview td.firstrow {
	border-left: none;
}

.data-overview td.lastrow {
	border-right: none;
}

.data-overview-tile td {
	color: #888;
	width: 19%;
}

.data-overview-data td {
	font-size: 2em;
	font-style: bold;
	padding-top: 12px;
	padding-bottom: 3px;
}

.data-overview-note td {
	color: #AAA;
}

span.data-overview-small-data {
	color: #333;
	padding: 3px;
}

footer {	
	margin-top: 20px;
}

.copyright {
  color:#ddd;
  text-shadow: 0 1px 1px black;  
	text-align: center;
}


/*d3-chord*/
#circle circle {
  fill: none;
  pointer-events: all;
}

.group path {
  fill-opacity: .5;
}

path.chord {
  stroke: #000;
  stroke-width: .25px;
}

#circle:hover path.fade {
  display: none;
}

.to_fadeIn
{	
	opacity: 0;
}
.opacity_transition
{
	opacity: 0;
	transition: opacity 1s;
}
.opacity_transition_show
{
    opacity: 1;
}

input[type=range] {
    -webkit-appearance: none;
    width: 70%;
    margin: 4.3px 0;
    display: inline-block;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #2e649e;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 17px;
    width: 13px;
    border-radius: 50px;
    background: #cbe2ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3470b2;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #2e649e;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 17px;
    width: 13px;
    border-radius: 50px;
    background: #cbe2ff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #28578a;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #2e649e;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 17px;
    width: 13px;
    border-radius: 50px;
    background: #cbe2ff;
    cursor: pointer;
    height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #2e649e;
}
input[type=range]:focus::-ms-fill-upper {
    background: #3470b2;
}
