<div class="content-grid detail-table" >

<h4 id="page-title">{{PageTitle}}</h4>
    <table id="main-table" class="opacity_transition" ng-class="{'opacity_transition_show':true}">
            <tr>
                   <td></td>
                   <td ng-repeat="item in detailData" class="indicator">{{item.location}}</td>
            </tr>

            <tr class="hr">
                  <td class="rowname">{{row.user}}</td>
                  <td ng-repeat="item in detailData"  class="number">{{item.count}}</td>
            </tr>

            <tr class="hr">
                 <td class="rowname">{{row.flow}}</td>
                 <td ng-repeat="item in detailData"  class="number">{{item.bytes|flowMB}}</td>
            </tr>

            <tr>
                <td class="rowname">{{row.request}}</td>
                <td ng-repeat="item in detailData"  class="number">{{item.requests}}</td>
            </tr>
    </table>
 
<highchart id="slave-chart-canvas-detail" config="slave_chartConfig"></highchart>
</div>

<div class="content-grid-switch" style="margin-top:40px;width:95%">
 <h4 style="float:left">历史数据</h4>
    <ul class="breadcrumb"  style="float:right">
        <li ng-class="{'non-active':chartMode==0}" ng-click="switchChart(0);"><a href="javascript:void(0)">人数</a><span class="divider">&nbsp;/&nbsp;</span></li>
        <li ng-class="{'non-active':chartMode==1}" ng-click="switchChart(1);"><a href="javascript:void(0)">请求数</a><span class="divider">&nbsp;/&nbsp;</span></li>
        <li ng-class="{'non-active':chartMode==2}" ng-click="switchChart(2);"><a href="javascript:void(0)">流量</a></li>
    </ul>
</div>

<div class="content-grid main-chart">
    <highchart config="chartConfig"></highchart>
</div>




