<style type="text/css">
    .main-content{
        overflow: hidden;
        width: 100%;
        min-width: 780px;
        max-width: 1450px;
        background: none !important;
        border-radius: 0 !important;
        box-shadow:none !important;
        padding-bottom: 0 !important;

    }
</style>
<section id="intro" class="intro">

    <div class="slogan">
        <h2 style='font-family:"Microsoft YaHei"'>上海交通大学Wifi数据分析平台</h2>
        <h4>Web platform by Team 123</h4>
    </div>

</section>